<div class="card mx-auto" style="max-width: 890px;">
    <div class="card-body">
        <form action="/session/signup" method="post" class="row g-3 needs-validation" novalidate>
            
            <div class="form-floating mb-3 col-md-6">
                <input type="text" class="form-control" id="validationCustom01" name="name" placeholder="Name" value="{{name}}" autofocus required>
                <label for="validationCustom01">User Name</label>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Error!
                </div>
            </div>

            <div class="form-floating mb-3 col-md-6">
                <input type="email" class="form-control" id="validationCustomUsername" name="email" placeholder="name@example.com" value="{{email}}" required>
                <label for="validationCustomUsername">Email address</label>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Error!
                </div>
            </div>

            <div class="form-floating mb-3 col-md-6">
                <input type="password" class="form-control" id="validationCustom02" name="password" placeholder="Password" required>
                <label for="validationCustom02">Password</label>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Error!
                </div>
            </div>


            <div class="form-floating mb-3 col-md-6">
                <input type="password" class="form-control" id="validationCustom03" name="confirm_password" placeholder="Confirm Password" required>
                <label for="validationCustom03">Confirm_password</label>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Password do not match.
                </div>
            </div>

            <div class="form-floating mb-3 col-md-2">
                <input type="text" class="form-control" id="validationCustom04" name="phone" placeholder="Phone number" value="{{phone}}" required>
                <label for="validationCustom04">Phone</label>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Error!
                </div>
            </div>

            <div class="form-floating mb-3 col-md-6">
                <input type="text" class="form-control" id="validationCustom05" name="address" placeholder="address" value="{{address}}" required>
                <label for="validationCustom05">Address</label>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please provide a valid zip.
                </div>
            </div>

            <div class="form-floating mb-3 col-md-4">
                <input type="text" class="form-control" id="validationCustom06" name="country" placeholder="country" value="{{country}}" required>
                <label for="validationCustom06">Country</label>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please enter a valid state.
                </div>
            </div>
            <div class="col-12">
                <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                <label class="form-check-label" for="invalidCheck">
                    Agree to terms and conditions
                </label>
                <div class="invalid-feedback">
                    You must agree before submitting.
                </div>
                </div>
            </div>
            <center>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">
                        Sign UP
                    </button>
                </div>
            </center>
        </form>
    </div>
</div>
<script src="/js/form-control.js"></script>